<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

            <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Oswald:400,300,700:latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>

        <!-- Bootstrap core CSS -->
        <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="/static/dist/css/bootstrap-theme.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/theme.css" rel="stylesheet">
    </head>
    <body>
        <div id="inputVals">
        <div id="title" class="jumbotron">
            <center>
                <h1>
                    <font color="#093A49">ship it</font> <font color="white">or</font> <font color="orange">buy it</font> <font color="white">?</font>
                </h1>
                <div id="getUrl">
                    <input class = "inputMessage" id="urlIn" placeholder="Enter Amazon URL" type="text"/>
                    <button class="btn btn-primary" id="nextButton" onClick="goToZips()">
                        NEXT 
                    </button>
                    <br/>
                    <div>
                        <font style="" size="5" id="normMes">Press Enter to Add Items</font>
                        <font id="errorMes" style="color:red;"size="5">Please Add Some Items Using the Enter Key</font>
                    </div>
                </div>
                <div id="getZips">
                    <button class="btn btn-primary" id="nextButton" onClick="returnURL()">
                        BACK 
                    </button>
                    <input id="zip_s" placeholder="Start Zip Code" type="text"/>
                    <input id="zip_e" placeholder="End Zip Code" type="text"/>
                    <button class="btn btn-primary" id="nextButton" onClick="submitForm()">
                        SUBMIT 
                    </button>
                </div>
            </center>
        </div>
                <div id="amazonContainer" >
                    <ul class="urls">
                    </ul>
                </div>
        </div>
        <div id="calculating">
            <center>
                <h1><p style="color:black;" id="loading">Calculating<span>.</span><span>.</span><span>.</span></p></h1>
            </center>
        </div>
        <div id ="result">
            <center>
                <br/>
                <br/>
            <div id="buyResult" >
                <img width=300px src="/static/img/amazon.png" />
                <h1><b>Buy It</b></h1>
            </div>
            <div id="shipResult" >
                <img width=300px src="/static/img/shiphawk.jpg" />
                <h1 style="color:white;"><b>Ship It</b></h1>
            </div>
            <br/>
            <div id="shipDiv"> 
            <button id="shipButton" onClick="window.open('http://www.shiphawk.com', '_blank')" 
                class="btn btn-lg btn-default">
                Go To ShipHawk
            </button>
        </div>
            <br/>
            <div id="buyDiv">
            <button id="buyButton" onClick="window.open('http://www.amazon.com', '_blank')" class="btn btn-lg btn-success">
                Go To Amazon
            </button>
        </div>
            <br/>
            <button class = "btn btn-lg btn-default" id="restartButton" onClick="window.location.reload(true)">
                Back
            </button>
        </center>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/animations.js"></script>
    </body>

</html>
