<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap theme -->
        <link href="/static/dist/css/bootstrap-theme.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/theme.css" rel="stylesheet">
    </head>
    <body>
        <div id="inputVals">
        <div id="title" class="jumbotron">
            <center>
                <h1>
            <font color="blue">ship it</font> or <font color="orange">buy it</font>
                </h1>
                <div id="getUrl">
                    <input id="urlIn" placeholder="Enter Amazon URL" type="text"/>
                    <span class="label label-primary" id="nextButton" onClick="goToZips()">
                        Next 
                    </span>
                    <br/>
                    <div>
                        <font style="" size="5" id="normMes">Press Enter to Add URLs</font>
                        <font id="errorMes" style="color:red;"size="5">please add some URLs by using the enter key</font>
                    </div>
                </div>
                <div id="getZips">
                    <span class="label label-primary" id="nextButton" onClick="returnURL()">
                        Back 
                    </span>
                    <input id="zip_s" placeholder="Start Zip Code" type="text"/>
                    <input id="zip_e" placeholder="End Zip Code" type="text"/>
                    <span class="label label-primary" id="submitButton" onClick="submitForm()">
                        Submit 
                    </span>
                </div>
            </center>
        </div>
                <div id="amazonContainer" >
                    <ul class="urls">
                    </ul>
                </div>
        </div>
        <div id ="result">
            <center>
                <br/>
                <br/>
            <div id="buyResult" >
                <img width=300px src="/static/img/amazon.png" />
                <h1>Ship It</h1>
            </div>
            <div id="shipResult" >
                <img width=300px src="/static/img/shiphawk.jpg" />
                <h1>Buy It</h1>
            </div>
            <br/>
            <div id="shipDiv"> 
            <button id="shipButton" onClick="window.location.href='http://www.amazon.com'" 
                class="btn btn-lg btn-default">
                Go To ShipHawk
            </button>
        </div>
            <br/>
            <div id="buyDiv">
            <button id="buyButton" onClick="window.location.href='http://www.amazon.com'" class="btn btn-lg btn-success">
                Go To Amazon
            </button>
        </div>
            <br/>
            <button class = "btn btn-lg btn-default" id="restartButton" onClick="window.location.reload(true)">
                Back
            </button>
        </center>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script src="/static/js/animations.js"></script>
    </body>

</html>
