html, body{
    background-color:gray;
}

#submitButton{
    line-height:30px;
    display:inline-block;
    font-size:24px;
}

#title{
    overflow:hidden;
    width:100%;
    height:250px;
    position:fixed;
}

.urls{
    list-style-type:none;
    padding:0;
}

.urlItem{
    display:inline;
    vertical-align:center;
    width:100%;
    height:100%;
    white-space:nowrap;
}

#urlIn{
    width:60%;
    font-size:24px;
}

#zip_s, #zip_e{
    width:15%;
    font-size:24px;
}

#amazonContainer{
    width:60%;
    padding-top:250px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}

.url{
    font-size:24px;
    text-align:left;
    background-color:white;
    margin:10px;
    padding-left:10px;
    border:2px solid;
    border-radius: 10px;
}

#nextButton{
    display:inline-block;
    line-height:30px;
    width:8%;
    font-size:24px;
}

#add{
    position:relative;
    left:-50px;
    display:inline-block;
    font-size:24px;
}

#getUrl{
    padding:0px;
}
