html, body{
    background-color:gray;
}

.urls{
    list-style-type:none;
    padding:0;
}

#urlIn{
    width:31%;
    font-size:24px;
}

#zip_s, #zip_e{
    width:15%;
    font-size:24px;
}

#amazonContainer{
    width:31%;
    max-height:300px;
    overflow:scroll;
    border:solid;
}

.url{
    font-size:24px;
    text-align:left;
}

#nextButton{
    display:inline-block;
    line-height:50px;
    font-size:24px;
}

#add{
    position:relative;
    left:-50px;
    display:inline-block;
    font-size:24px;
}

#getUrl{
    padding:0px;
}
